@use '../../styles/variables.scss' as *;

.movies-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 45%);
  row-gap: 1rem;
  column-gap: 3rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  align-content: space-around;
  height: 90%;
  width: 100%;
  position: relative;

  @media (width <= 970px) {
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(4, 1fr);
  }
}

.loading-state-display {
  display: flex;
  padding: 0.5rem 2rem 0.5rem 2rem;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;

  .loading-state-text {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
  }
}
