@use '../../styles/variables.scss' as *;
.movies-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 45%);
  row-gap: 1rem;
  column-gap: 3rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  align-content: space-around;
  height: 90%;
  width: 100%;
  position: relative;

  .arrow-icon {
    position: absolute;
    z-index: 10;
    align-self: center;
    transition: all 0.3s ease;

    &.right {
      right: 0.1rem;
    }

    &.left {
      left: 0.1rem;
    }

    &.disabled {
      pointer-events: none;
      cursor: not-allowed;
      opacity: 0.1;
    }
  }
}
