@use '../../styles/variables.scss' as *;
.movie-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0.25rem 1rem;
  border-radius: 24px;
  transition: all 0.2s linear;
  background: linear-gradient($third-dark-bg-color, $primary-dark-bg-color);

  &:hover:not(:has(button:hover)) {
    transform: scale(1.05);
  }

  &.no-hover {
    pointer-events: none;
  }

  .img {
    align-self: center;
    width: 100%;
    height: 50%;
    max-height: 220px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
    border: 1px solid rgba(128, 128, 128, 0.4);
  }

  .info {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5rem;
    gap: 0.5rem;

    .title {
      font-size: 1rem;
      font-weight: 600;
      color: $text-main-color;
      margin: 0;
      text-align: center;
    }

    .label-information {
      color: $text-label-color;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .specification {
        margin: 0;
        padding: 0.15rem 0.3rem;
        background: $gradient-label-rating;
        border-radius: 8px;
        color: $text-main-color;

        &.rating--good {
          color: $rating-good-color;
        }

        &.rating--bad {
          color: $rating-bad-color;
        }

        &.rating--ok {
          color: $rating-ok-color;
        }
      }
    }
    .watchlist-button {
      color: $text-main-color;
      background: $gradient-label-rating;
      border-radius: 12px;
      width: 80%;
      max-width: 350px;
      align-self: center;
      min-height: 25%;
      font-weight: 600;
      font-size: 0.9rem;
      border: 1px solid $primary-border-color;
      transition: all 0.2s linear;

      &:hover {
        background: linear-gradient($text-label-color, $third-dark-bg-color);
      }
    }
  }
}
