.movies-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 45%);
  row-gap: 1rem;
  column-gap: 3rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  align-content: space-around;
  height: 90%;
  width: 100%;
}
