.movie-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0.25rem 1rem;
  border-radius: 24px;

  background: linear-gradient(
    var(--third-dark-bg-color),
    var(--primary-dark-bg-color)
  );
}

.movie-card__img {
  align-self: center;
  width: 100%;
  height: 50%;
  max-height: 220px;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
  border: 1px solid rgba(128, 128, 128, 0.4);
}

.movie-card__info {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;
  gap: 0.5rem;
}

.movie-card__title {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-main-color);
  margin: 0;
  text-align: center;
}

.movie-card__rating {
  color: var(--text-label-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movie-card__specification {
  margin: 0;
  padding: 0.15rem 0.3rem;
  background: var(--gradient-label-rating);
  border-radius: 8px;
  color: var(--text-main-color);
}

.movie-card__rating--good {
  color: var(--rating-good-color);
}

.movie-card__rating--bad {
  color: var(--rating-bad-color);
}

.movie-card__rating--ok {
  color: var(--rating-ok-color);
}

.movie-card__watchlist-button {
  color: var(--text-main-color);
  background: var(--gradient-label-rating);
  border-radius: 12px;
  width: 50%;
  align-self: center;
  min-height: 25%;
  font-weight: 600;
  font-size: 0.9rem;
  border: 1px solid var(--primary-border-color);
}
