.search-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 10%;
  gap: 1rem;
  padding-left: 1rem;
}

.search-bar__genres {
  width: 180px;
  background: var(--gradient-label-rating);
  height: 50%;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 12px;
  color: var(--text-main-color);
}

.search-bar__genres select {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  font-weight: 400;
  font-size: 1rem;
  background: var(--gradient-label-rating);
  color: var(--text-main-color);
  border: 0px solid;
  text-align: center;
}

.search-bar__genres select:focus-visible {
  outline: none;
}
