@use '../../styles/variables.scss' as *;

.search-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 10%;
  gap: 1rem;
  padding-left: 1rem;
  position: relative;

  .genres {
    width: 220px;
    background: linear-gradient($third-dark-bg-color, $primary-dark-bg-color);
    height: 50%;
    min-height: 40px;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 12px;
    color: $text-main-color;
    border: 1px solid $text-label-color;
  }

  .icons {
    position: absolute;
    background: linear-gradient($third-dark-bg-color, $primary-dark-bg-color);
    padding: 2px 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    border-radius: 12px;
    right: 1rem;

    .icons-link {
      display: flex;
      padding: 0.2rem 0.5rem;
      text-decoration: none;
      color: $text-main-color;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      font-weight: 500;
      font-size: 1rem;
      transition: all 0.1s linear;

      &:hover {
        transform: scale(1.1);
      }

      &.active {
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(5px);
        transition: all 0.2s ease;
        border-radius: 12px;
      }
    }
  }
}
