@use '../../styles/variables.scss' as *;

.search-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 10%;
  gap: 1rem;
  padding-left: 1rem;
  position: relative;

  .genres {
    width: 180px;
    background: linear-gradient($third-dark-bg-color, $primary-dark-bg-color);
    height: 50%;
    min-height: 40px;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 12px;
    color: $text-main-color;
    border: 1px solid $text-label-color;

    select {
      width: 100%;
      height: 100%;
      border-radius: 12px;
      font-weight: 400;
      font-size: 1rem;
      background: $gradient-label-rating;
      color: $text-main-color;
      border: 0px solid;
      text-align: center;

      &:focus-visible {
        outline: none;
      }
    }
  }

  .icons {
    position: absolute;
    background: linear-gradient($third-dark-bg-color, $primary-dark-bg-color);
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    border-radius: 12px;
    right: 1rem;

    .icon {
      padding: 0.1rem;
      transition: all 0.1s linear;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
