@use './components/main.scss' as *;
@use './components/bars/searchBar.scss' as *;
@use './components/cards/card.scss' as *;
@use './components/cards/cards.scss' as *;
@use './components/forms/searchForm.scss' as *;
@use './components/header/header.scss' as *;
@use './components/cards/modalCard.scss' as *;
@use './components//cards/cardById.scss' as *;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
