.search-form {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.label {
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 40px;
}
.search-form__input {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  color: var(--second-dark-bg-color);
  padding-left: 2%;
  font-size: 1rem;
  border: 1px solid var(--text-label-color);
  background-color: var(third-dark-bg-color);
}
